VITE_BASE_URL="http://localhost:"

# onst apiUrl = import.meta.env.VITE_BASE_URL;

# // Example fetch call
# fetch(`${import.meta.env.VITE_BASE_URL}/users`)
#   .then(res => res.json())
#   .then(data => console.log(data));